body {
    background: url("imagens/ondas.gif") no-repeat;
    background-size: cover;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: white;
    text-align: center;
    text-transform: uppercase; /* uppercase deixa letras maiúsculas */
    margin-top: 50px;
}

.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.container {
    background-color: white;
    height: 60vh;
    width: 60vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px; /* cantos arredondados */
    padding: 20px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.question {
    text-align: center;

}

.conteudo {
    display: flex; 
}

.opcoes {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: grid;
}

.personagem {
    width: 50%;
    max-height: 52vh;
}

.botao-opcao {
    background-color: #00B8E6;
    color: white;
    border: none;
    padding: 5px;
    font-size: 20px;
    display: block;
    margin: 20px;
    margin-bottom: 5px;
    min-width: 300px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
    cursor: pointer;
}

.botao-opcao:hover{
    background-color: #00a5cf;

}